//.root
//{
//    -fx-background-image: url("../background.jpg");
//}

.label 
{
	-fx-font-size: 14px;
	-fx-font-weight: lighter;
	-fx-text-fill: #333333;
}

.hyperlink
{
	-fx-fond-size: 14px;
	-fx-font-weight: normal;
//	-fx-text-fill: #333333;
}

.button
{
    -fx-font-size: 14px;
    -fx-font-weight: normal;
	-fx-border-color: transparent;
    -fx-background-color: transparent;
}

.button:hover
{
	-fx-background-color: Gray;
}

.button:pressed
{
    -fx-background-color: DimGray;
    -fx-text-fill: white;
}

#titleLabel
{
	-fx-font-size: 25px;
	-fx-text-fill: #333333;
}


#invalidMessage
{
	-fx-font-size: 12px;
	-fx-font-weight: normal;
	-fx-text-fill: firebrick;
}

#usernameMessage
{
	-fx-font-size: 12px;
	-fx-font-weight: normal;
	-fx-text-fill: firebrick;
}

#passwordMessage
{
	-fx-font-size: 12px;
	-fx-font-weight: normal;
	-fx-text-fill: firebrick;
}




