.button
{
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.button:hover
{
	-fx-background-color: Gray;
}

.button:pressed
{
    -fx-background-color: DimGray;
    -fx-text-fill: white;
}

#titleLabel
{
	-fx-font-size: 25px;
	-fx-text-fill: #333333;
}

#itemHeader
{
	-fx-font-weight: bold;
}